

.ordered-list{
  color: white;
  font-size: 30px;
  /* border-bottom: solid 10px #ccc;
  border-top: solid 10px #ccc; */
  border: solid 10px dodgerblue;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
}
